* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Regular-slnt=0.ttf);
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body {
  background-color: #181818;
  font-family: "Inter", sans-serif;
}

.header .info {
  position: relative;
  height: 119px;
  padding-bottom: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .open,
.header .close {
  display: none;
}

.header #switcher {
  position: absolute;
  left: -99999999px;
  visibility: hidden;
}

.header .img__1 {
  display: none;
}

.header .link {
  color: white;
  text-decoration: none;
  font-weight: 500px;
  font-size: 16px;
  padding: 24px;
}

.header .link:hover {
  color: #02E4C0;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.header .button {
  font-size: 15px;
  line-height: 25px;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 13.5px 46px;
}

.header .button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all .7s;
  transition: all .7s;
}

.header .button1 {
  display: none;
}

.header__main .title {
  width: 12%;
  margin: 0 auto;
  margin-bottom: 37px;
  font-weight: 500;
  font-size: 80px;
  line-height: 88px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__main .title .green {
  color: #02E4C0;
  text-align: center;
}

.header__main .text {
  width: 37.555%;
  margin: 0 auto;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #fff;
}

.header__main .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}

.header__main .button1 {
  padding-top: 85px;
  display: block;
  margin-right: 35px;
}

.header__main .button1 .b1 {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #fff;
  padding: 20px 40px;
  background-color: #4452fe;
  text-decoration: none;
}

.header__main .button1:hover {
  -webkit-transition: all .7s;
  transition: all .7s;
  padding-top: 80px;
}

.header__main .button1:hover .b1 {
  background-color: #4578fb;
}

.header__main .button2 {
  padding-top: 85px;
}

.header__main .button2 .b2 {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  border: 1px solid white;
  padding: 20px 40px;
}

.header__main .button2:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
  padding-top: 80px;
}

.header__img {
  padding-top: 35px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header__img .img {
  display: block;
  min-width: 100%;
  height: auto;
  z-index: -1;
}

.header__img .img-1 {
  display: none;
  min-width: 100%;
  height: auto;
  z-index: -1;
}

.header__img .gradient {
  width: 100%;
  height: 350px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(66.15%, #0E0E0E));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E0E 66.15%);
  position: absolute;
  bottom: 0;
}

.main {
  padding-top: 62px;
}

.main .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 281px;
}

.main .features__title {
  font-size: 52px;
  line-height: 62px;
  text-align: center;
  color: #fff;
  margin-bottom: 27px;
}

.main .features__text {
  width: 37.555%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 100px;
}

.main .features__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .features__info .images {
  width: 752px;
  margin-right: 32px;
  position: relative;
}

.main .features__info .images img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main .features__info .images .photo .img3 {
  position: absolute;
  top: 63.8888%;
  right: -28px;
}

.main .features__info .images .photo .img4 {
  position: absolute;
  top: 60.4497%;
  left: 7.6058%;
  -webkit-animation-name: rotation;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotation;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name: rotation;
  -o-animation-duration: 5s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.main .features__info .blocks .block {
  width: auto;
  padding-top: 20px;
  padding-bottom: 15px;
}

.main .features__info .blocks .block .icon {
  padding-top: 13px;
  margin-bottom: 23px;
}

.main .features__info .blocks .block__title {
  width: 154px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 20px;
}

.main .features__info .blocks .block__text {
  width: 190px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-align: left;
}

.main .features__info .blocks .margin {
  margin-right: 52px;
}

.main .contents {
  padding-top: 160px;
  margin-bottom: 100px;
}

.main .contents__title {
  font-size: 52px;
  line-height: 62px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.main .contents__text {
  width: 36.352%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 54px;
}

.main .contents__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.main .contents__blocks .block1,
.main .contents__blocks .block2 {
  width: 30.1456%;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.main .contents__blocks .block1 {
  margin-right: 33px;
}

.main .contents__blocks .block1,
.main .contents__blocks .block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .contents__blocks .block1__title,
.main .contents__blocks .block2__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 50px;
}

.main .contents__blocks .block1__text,
.main .contents__blocks .block2__text {
  width: 70.168%;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin-bottom: 40px;
}

.main .contents__blocks .block1__button,
.main .contents__blocks .block2__button {
  text-decoration: none;
  background: #4452FE;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  padding: 13.5px 46px;
  color: #fff;
  margin-bottom: 30px;
}

.main .contents__blocks .block1__img,
.main .contents__blocks .block2__img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  max-width: 100%;
  height: auto;
}

.main .gallery__title {
  padding-top: 60px;
  font-size: 52px;
  line-height: 62px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.main .gallery__text {
  width: 36.352%;
  margin: 0 auto;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  margin-bottom: 56px;
}

.main .gallery__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
  margin-bottom: 100px;
}

.main .gallery__photos img {
  border-radius: 10px;
}

.main .gallery__photos .left {
  margin-right: 32px;
}

.main .gallery__photos .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .gallery__photos .right .row1,
.main .gallery__photos .right .row2 {
  margin-bottom: 31px;
}

.main .gallery__photos .right .row2,
.main .gallery__photos .right .row3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .gallery__photos1 {
  display: none;
}

.main .partners {
  padding-top: 60px;
  padding-bottom: 50px;
  margin-bottom: 100px;
}

.main .partners__title {
  font-size: 52px;
  line-height: 62px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.main .partners__text {
  width: 36.352%;
  margin: 0 auto;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  margin-bottom: 60px;
}

.main .partners__images {
  width: 52.708%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .testimonials {
  padding: 60px 0px;
  margin-bottom: 100px;
}

.main .testimonials__title {
  font-size: 52px;
  line-height: 62px;
  color: #fff;
  text-align: center;
  margin-bottom: 60px;
}

.main .testimonials__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .testimonials__blocks .block {
  width: 430px;
  margin-bottom: 20px;
  border: 1px solid #5C5C5C;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 40px;
}

.main .testimonials__blocks .block__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  display: flex;
}

.main .testimonials__blocks .block__profile img {
  margin-right: 23px;
}

.main .testimonials__blocks .block__profile .profile__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .testimonials__blocks .block__profile .profile__info .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #02E4C0;
}

.main .testimonials__blocks .block__profile .profile__info .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.main .testimonials__blocks .block__text {
  width: 334px;
  height: 96px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.main .testimonials__blocks .block:nth-child(1),
.main .testimonials__blocks .block:nth-child(3) {
  margin-right: 23px;
}

.main .image {
  background-color: #343434;
  width: 77.2%;
  height: 370px;
  margin: 0 auto;
  margin-bottom: 180px;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main .image__info {
  padding-left: 64px;
}

.main .image__info .image__title {
  width: 30.8423%;
  font-size: 52px;
  line-height: 62px;
  color: #fff;
  margin-bottom: 37px;
  padding-left: 10px;
}

.main .image__info .button {
  width: 101px;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #fff;
  background-color: #4452FE;
  padding: 13.5px 67px;
  text-decoration: none;
}

.main .image .img12 {
  border-top-right-radius: 33px;
  border-bottom-right-radius: 33px;
  position: absolute;
  right: 0px;
}

.main .image1 {
  display: none;
}

.main .map {
  margin-bottom: 100px;
  width: 100vw;
}

.footer {
  padding: 107px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .product,
.footer .about {
  margin-right: 75px;
}

.footer .product,
.footer .about,
.footer .contact {
  width: 121px;
}

.footer .product__title,
.footer .about__title,
.footer .contact__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-align: left;
  margin-bottom: 24px;
}

.footer .product__list,
.footer .about__list,
.footer .contact__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .product__link,
.footer .about__link,
.footer .contact__link {
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  color: grey;
  text-align: left;
  text-decoration: none;
}

.footer .product__link:not(:last-child),
.footer .about__link:not(:last-child),
.footer .contact__link:not(:last-child) {
  margin-bottom: 19px;
}

.footer .product__link:hover,
.footer .about__link:hover,
.footer .contact__link:hover {
  color: #fff;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.footer__contacts {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__contacts .geo,
.footer__contacts .tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.footer__contacts .geo__icon,
.footer__contacts .tel__icon {
  margin-right: 9px;
}

.footer__contacts .geo__text,
.footer__contacts .tel__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.footer__contacts .geo {
  margin-bottom: 25px;
}

.footer__contacts .icons {
  padding: 20px 12px;
}

.footer__contacts .icons .icon1,
.footer__contacts .icons .icon2 {
  margin-right: 24px;
}

@media (max-width: 1024px) {
  .header .img__1 {
    position: absolute;
    top: 15px;
    left: 24px;
  }
  .header nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    height: 100vh;
    background-color: #181818;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header nav > .img__1 {
    display: block;
    position: absolute;
    top: 15px;
    left: 24px;
  }
  .header .open {
    font-size: 28px;
    color: white;
    display: block;
  }
  .header .close {
    font-size: 28px;
    color: white;
    position: absolute;
    top: 27px;
    right: 42.26px;
    display: block;
  }
  .header .link {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    font-size: 28px;
    margin-bottom: 10px;
  }
  .header .link:nth-child(5) {
    margin-bottom: 48px;
  }
  .header #switcher:checked ~ nav {
    left: -100%;
  }
  .header .button {
    display: none;
  }
  .header .border {
    display: block;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 20px 40px;
    font-weight: 500;
  }
  .header .info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .header__img {
    padding-top: 35px;
    margin-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .header__img .img-1 {
    display: block;
    min-width: 100%;
    height: auto;
    z-index: -1;
  }
  .header__img .img {
    display: none;
  }
  .main .gallery__photos {
    display: none;
  }
  .main .gallery__photos1 {
    display: block;
    width: 69.1406%;
    margin: 0 auto;
  }
  .main .gallery__photos1 img {
    margin-bottom: 18px;
    display: block;
    max-width: 100%;
    height: auto;
  }
  .main .gallery__photos1 .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .gallery__photos1 .left .img5 {
    border-radius: 10px;
  }
  .main .gallery__photos1 .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .gallery__photos1 .right .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 18px;
  }
  .main .gallery__photos1 .right .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .features {
    margin-bottom: 0px;
  }
  .main .features__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .features__info .blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .features__info .blocks .block {
    padding-top: 180px;
    width: 190px;
  }
  .main .features__info .blocks .block__text {
    width: 190px;
  }
  .main .features__info .blocks .margin {
    margin-right: 3.4198%;
  }
  .main .features__info .images {
    margin-right: 0px;
    width: 100%;
    position: relative;
  }
  .main .features__info .images .photo .img3 {
    position: absolute;
    top: 67.647%;
    right: 0%;
  }
  .main .image {
    display: none;
  }
  .main .image1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: block;
    margin-bottom: 180px;
  }
  .main .image1__info {
    background-color: #343434;
    width: 69.1406%;
    height: 366px;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    margin: 0 auto;
  }
  .main .image1__info .image__title {
    width: 68.644%;
    margin: 0 auto;
    font-size: 52px;
    line-height: 62px;
    color: #fff;
    text-align: center;
    margin-bottom: 37px;
    padding-top: 67px;
  }
  .main .image1__info .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .image1__info .button {
    width: 101px;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #fff;
    background-color: #4452FE;
    padding: 13.5px 67px;
    text-decoration: none;
  }
  .main .image1 .img12 {
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .main .partners__images {
    width: 43%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .partners__images img {
    margin-right: 4.6865%;
  }
  .main .partners__images img:nth-child(5) {
    padding-left: 12.3867%;
    padding-top: 62.5px;
  }
  .main .partners__images img:nth-child(6) {
    padding-right: 12.3867%;
    padding-top: 62.5px;
  }
  .main .map {
    margin-bottom: 80px;
  }
  .main .testimonials__blocks .block {
    width: 345px;
  }
  .footer {
    padding: 0px;
    padding-bottom: 60px;
    padding-left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer__info {
    margin-bottom: 80px;
  }
  .footer__contacts {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

@media (max-width: 667px) {
  .main .features__info .images .photo .img4 {
    position: absolute;
    top: 60%;
    left: 5.8%;
  }
  .main .image1__info {
    width: 100%;
  }
  .main .image1__info .image__title {
    padding-top: 37px;
  }
  .main .partners__images {
    width: 50%;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  * {
    padding: 0;
    margin: 0;
  }
  .main .features__info .blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .features__info .blocks .block {
    padding-top: 0xp;
    padding-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .main .features__info .blocks .block__title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .main .features__info .blocks .block__text {
    text-align: center;
  }
  .main .features__info .blocks .margin {
    margin-right: 0px;
  }
  .main .testimonials {
    margin: 0;
    padding: 60px 0;
    width: 100%;
  }
  .main .testimonials__blocks {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .testimonials__blocks .block {
    width: 89.9791%;
    margin: 0 auto;
    margin-bottom: 24px;
    padding: 24px 77px 24px 20px;
  }
  .main .partners__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .partners__images img {
    margin-right: 0;
    padding-bottom: 40px;
  }
  .main .partners__images img:nth-child(5) {
    padding-left: 0;
    padding-top: 0;
  }
  .main .partners__images img:nth-child(6) {
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0px;
  }
  .footer__info .about,
  .footer__info .product {
    margin-right: 30px;
  }
}
/*# sourceMappingURL=index.css.map */